<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- Open annotation -->
	<context:annotation-config/>
	<!--  Configure the hibernate configuration file for Spring-->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
	</bean>
	<!-- Open the annotation switch for transaction manage -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- Configure Hibernate transaction manager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Define Beans -->
	<bean id="cart" class="ca.mcmaster.shop.cart.Cart" scope="singleton"/>
	
	<!-- Define Actions  -->
	<bean id="indexAction" class="ca.mcmaster.shop.index.IndexAction" scope="prototype"/>
	<bean id="userAction" class="ca.mcmaster.shop.user.UserAction" scope="prototype"/>
	<bean id="productAction" class="ca.mcmaster.shop.product.ProductAction" scope="prototype"/>
	<bean id="cartAction" class="ca.mcmaster.shop.cart.CartAction" scope="prototype"/>
	<bean id="orderAction" class="ca.mcmaster.shop.order.OrderAction" scope="prototype"/>
	<bean id="adminAction" class="ca.mcmaster.shop.admin.AdminAction" scope="prototype"/>
	<bean id="level1Action" class="ca.mcmaster.shop.level1.Level1Action" scope="prototype"/>
	<bean id="level2Action" class="ca.mcmaster.shop.level2.Level2Action" scope="prototype"/>
	
	<!-- Define Service -->
	<bean id="userService" class="ca.mcmaster.shop.user.UserService"/>
	<bean id="level1Service" class="ca.mcmaster.shop.level1.Level1Service"/>
	<bean id="productService" class="ca.mcmaster.shop.product.ProductService"/>
	<bean id="orderService" class="ca.mcmaster.shop.order.OrderService"/>
	<bean id="adminService" class="ca.mcmaster.shop.admin.AdminService"/>
	<bean id="level2Service" class="ca.mcmaster.shop.level2.Level2Service"/>
	<!-- Define Dao -->
	<bean id="userDao" class="ca.mcmaster.shop.user.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="level1Dao" class="ca.mcmaster.shop.level1.Level1Dao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="productDao" class="ca.mcmaster.shop.product.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="orderDao" class="ca.mcmaster.shop.order.OrderDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="adminDao" class="ca.mcmaster.shop.admin.AdminDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="level2Dao" class="ca.mcmaster.shop.level2.Level2Dao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
